.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.flex-item{
    flex-grow: 1;
}


/* Flex container

https://css-tricks.com/snippets/css/a-guide-to-flexbox/

*/